.119_31 { 
	overflow:hidden;
}
.e119_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:800px;
	position:absolute;
}
.e146_3 { 
	width:362px;
	height:800px;
	position:absolute;
	left:-1px;
	top:0px;
}
.e119_32 { 
	background-color:rgba(11.319604944437742, 5.378907769918442, 47.8125, 1);
	width:360px;
	height:51px;
	position:absolute;
	left:2px;
	top:749px;
}
.e119_33 { 
	border-radius:500px;
	background-color:rgba(33.313800394535065, 134.778114259243, 228.4374949336052, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:28px;
	top:755px;
}
.e119_34 { 
	background-color:rgba(232.00000137090683, 216.00000232458115, 216.00000232458115, 1);
	width:56px;
	height:29px;
	position:absolute;
	left:198px;
	top:763px;
}
.e119_35 { 
	background-color:rgba(232.00000137090683, 216.00000232458115, 216.00000232458115, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:109px;
	top:758px;
}
.e119_38 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:326px;
	top:770px;
}
.e119_39 { 
	background-color:rgba(62.58903309702873, 54.78958301246166, 110.50000101327896, 1);
	width:360px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
}
.e119_40 { 
	background-color:rgba(11.319604944437742, 5.378907769918442, 47.8125, 1);
	width:362px;
	height:711px;
	position:absolute;
	left:0px;
	top:38px;
}
.e119_41 { 
	background-color:rgba(11.319604944437742, 5.378907769918442, 47.8125, 1);
	width:362px;
	height:711px;
	position:absolute;
	left:0px;
	top:38px;
}
.e119_46 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:74px;
	position:absolute;
	left:1px;
	top:133px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e134_63 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:87px;
	position:absolute;
	left:1px;
	top:232px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e134_64 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:87px;
	position:absolute;
	left:1px;
	top:344px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e134_65 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:87px;
	position:absolute;
	left:1px;
	top:456px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e134_66 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:87px;
	position:absolute;
	left:1px;
	top:568px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
